{
  "extends": "stylelint-config-standard",
  "rules": {
    "rule-empty-line-before": [
      "always",
      {
        "ignore": ["after-comment", "first-nested", "inside-block"]
      }
    ]
  }
}
