.donut-segment {
  animation: donut-segment 5s;
}
.donut__main_viewbox svg{
  -webkit-filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.5));
}
.donut__main_viewbox:hover{
  transform: translateY(4px);
  filter: drop-shadow(0px 1px 1px rgba(255, 255, 255, 0.1));
}

/* animation for donut segment */
@keyframes donut-segment {
  0% {
    stroke-dasharray: 0, 100;
  }
}
