.table-responsive {
  max-height: 86vh;
}

/* attach table header */
.table thead tr th {
  background-color: gray;
  position: sticky;
  top: 0;
}

/* scrollbar css */
.scrollbar ::-webkit-scrollbar-track {
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.scrollbar ::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
  height: 8px;
}

.scrollbar ::-webkit-scrollbar-thumb {
  background-color: #01cc99;
  border: 0;
}

.scrollbar::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}
