.liveStatus {
  object-fit: contain;
}

.circle_outer {
  animation: circle 2s ease-in-out infinite;
  border: 1px solid green;
  border-radius: 50%;
  height: 36px;
  opacity: 0.8;
  -webkit-animation: circle 2s ease-in-out infinite;
  width: 37px;
  /* margin: auto; */
  /* margin-right: 15px; */
}

.circle_inner {
  background: green;
  border-radius: 50%;
  height: 20px;
  opacity: 0.8;
  width: 20px;
  margin: 7px;
  position: absolute;
}

.circle_inner::after {
  animation: circle 2s ease-in-out 0.2s infinite;
  border: 2px solid green;
  border-radius: 50%;
  height: 28px;
  opacity: 0.8;
  width: 28px;
  margin: 7px;
  position: absolute;
  -webkit-animation: circle 2s ease-in-out 0.2s infinite;
}
