* {
  margin: 0;
  padding: 0;
}

/* universal scrollbar */
.scrollbar {
  height: 100%;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  height: 0;
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: #198754;
  outline: 1px solid transparent;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
  background: transparent;
}

/* common cursor pointer class */
.commonpointer {
  cursor: pointer;
}

div.cancelDraggable {
  cursor: auto;
}
